.btn-adicionar {
  background-color: var(--verde);
  color: white;
  font-size: rem-calc(18);
  padding: rem-calc(5) rem-calc(10);
  cursor: pointer;
  font-weight: 500;
  border-radius: rem-calc(5);
}