@import '../../../../scss/config-scss/rem-calc.scss';

:host {
  section {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: rem-calc(30);
    padding-top: rem-calc(30);
    margin: auto;

    .contInf {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: rem-calc(20);

      .contInfLeft {
        display: flex;
        flex-direction: column;
        gap: rem-calc(20);

        h1 {
          font-weight: 600;
          font-size: rem-calc(28);
          line-height: rem-calc(32.5);
        }

        p {
          font-weight: 500;
          line-height: rem-calc(24.5);
        }
      }

      .contInfRigth {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: rem-calc(20);

        h2 {
          font-size: rem-calc(24);
          font-weight: 500;
          line-height: rem-calc(28.7);
        }

        p {
          font-weight: 500;
          line-height: rem-calc(24.7);
          text-align: right;
        }
      }
    }

    .textDescricao {
      font-size: rem-calc(17);
      line-height: rem-calc(21.4);
    }

    .dadosInfo {
      display: flex;
      flex-direction: column;
      gap: rem-calc(7);
      padding-bottom: rem-calc(25);

      .dadosInfoLine {
        line-height: rem-calc(23.4);
        font-size: rem-calc(19);

        b {
          font-weight: 600;
        }

        small {
          font-weight: 500;
        }
      }
    }

    .logoNome {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: rem-calc(30);

      .imgEmpresa {
        max-height: rem-calc(60);
      }

      b {
        font-weight: 600;
        font-size: rem-calc(18);
      }
    }
  }

  .fundoModal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .2);
    z-index: 5;
  }

  .modalQuest {
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: var(--branco);
    position: fixed;
    box-shadow: 1px 1px 7px black;
    top: 50%;
    left: 50%;
    min-height: 10vh;
    max-width: 90%;
    min-width: 50%;
    transform: translate(-50%, -50%);
    padding: rem-calc(20);
    font-size: rem-calc(18);

    .cabecalho {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      border-bottom: 1px solid var(--preto);
      padding-bottom: rem-calc(15);

      h1 {
        font-weight: 700;
        font-size: rem-calc(22);
      }

      button {
        position: absolute;
        right: rem-calc(20);
        top: rem-calc(5);
        cursor: pointer;
        font-weight: 200;
        font-size: rem-calc(40);
        background-color: transparent;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: rem-calc(15);
      overflow: hidden auto ;
      max-height: 60vh;
      padding: rem-calc(10) rem-calc(10) 0 0;

      .quests {
        display: flex;
        flex-direction: column;
        gap: rem-calc(5);
        width: 100%;
        font-size: rem-calc(16);

        h3 {
          font-size: rem-calc(18);
          font-weight: 500;
        }

        .boxCheck {
          border: 1px solid black;
          border-radius: rem-calc(10);
          display: flex;
          flex-direction: column;
          width: 100%;

          .contQuest {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            padding: rem-calc(4) rem-calc(10);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:first-child .checkmark {
              border-top-left-radius: rem-calc(10);
              border-top-right-radius: rem-calc(10);
            }

            &:last-child .checkmark {
              border-bottom-left-radius: rem-calc(10);
              border-bottom-right-radius: rem-calc(10);
            }

            & input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }

            &:hover input~.checkmark {
              background-color: #ccc;
            }


            & input:checked~.checkmark {
              background-color: #2196F3;
            }

            & input:checked {
              color: var(--branco);
            }

            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              background-color: var(--branco);
              z-index: -2;
            }
          }
        }

        textarea {
          border: 1px solid var(--preto);
          min-width: 80%;
          padding: rem-calc(5) rem-calc(10);
          border-radius: rem-calc(10);
          resize: none;
        }
      }
    }
    .fundoModalAvisoQuestOk {
      @extend .fundoModal;
    }
    .modalAvisoQuestOk {
      @extend .modalQuest;
      justify-content: space-between;

      h3 {
        text-align: center
      }

      button{
        background-color: #00a824;
        padding: rem-calc(4) 0;
        color: var(--branco);
      }
      
    }
  }


  @media screen and (max-width: 390px) {
    .modalQuest {
      display: flex;
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
      padding: rem-calc(20);
      font-size: rem-calc(18);


      .cabecalho {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid var(--preto);
        padding-bottom: rem-calc(15);
        gap: rem-calc(20);
  
        button {
          position:static;
          cursor: pointer;
          font-weight: 200;
          font-size: rem-calc(40);
        }
      }
    }
  }
}