@import '../../../../../scss/config-scss/rem-calc.scss';

:host {
  .sessao {
    display: flex;
    padding: rem-calc(20) 0;
    flex-direction: column;
    gap: rem-calc(20);
    align-items: center;
    width: 90%;
    margin: auto;

    h1 {
      font-size: rem-calc(28);
    }

    form {
      display: flex;
      gap: rem-calc(18);
      flex-direction: column;
      width: 100%;

      .boxInput {
        display: flex;
        flex-direction: column;
        gap: rem-calc(6);
        
        input {
          border: 1px solid var(--preto);
          border-radius: rem-calc(10);
          padding: rem-calc(7) rem-calc(10);
          font-size: rem-calc(16);
          font-weight: 400;
        }
      }
    }
  }

  .invalid {
    border: 1px solid var(--vermelho) !important;
  }
}